<app-nav-bar></app-nav-bar>

<div class="flex h-screen antialiased text-gray-800">
  <div class="flex flex-row h-full w-full overflow-x-hidden">
    <div class="flex flex-col py-8 pl-8 pr-2 w-64 bg-white flex-shrink-0">
      <div class="flex flex-col mt-3">
        <div class="flex flex-row items-center justify-between text-xs">
          <span class="font-bold">Active Conversations</span>
        </div>

        <div *ngFor="let item of teacherData">
          <div class="flex flex-col space-y-1 mt-4 -mx-2 overflow-y-auto">
            <button (click)="setConnection(item._id)"
              class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2"
              [class.active]="item._id === activeItemId">
              <div class="flex items-center justify-center h-8 w-8 rounded-full">
                <img [src]="'https://intslate.onrender.com/uploads/' + item.image" alt="" />
              </div>
              <div>
                <div class="ml-2 text-sm text-left font-semibold">
                  {{ item.name }}
                </div>
                <div class="text-xs ml-2 font-medium">
                  {{ item.subject.subjectName }}
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col flex-auto h-full p-6">
      <div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full p-4">
        <div class="flex flex-col h-full overflow-x-auto mb-4" #chatContainer>
          <ng-container *ngIf="connectionData; else noConnection">
            <div class="flex flex-col h-full">
              <div *ngFor="let message of groupedMessages">
                
                <ng-container *ngIf="message.messages.length;else noMessage">
                  <div class="mx-4 flex items-center space-x-3">
                    <div class="h-px flex-1 bg-slate-200 dark:bg-navy-500"></div>
                    <p class="text-sm text-gray-400 font-semibold">{{ message.date }}</p>
                    <div class="h-px flex-1 bg-slate-200 dark:bg-navy-500"></div>
                  </div>
                  <div class="grid grid-cols-12 gap-y-2" *ngFor="let item of message.messages">
                    <div class="col-start-1 col-end-8 p-3 rounded-lg"
                      *ngIf="item.from === connectionData.connection?.teacher?._id">
                      <div class="flex flex-row items-center">
                        <div class="flex items-center justify-center h-10 w-10 rounded-full mb-5 flex-shrink-0">
                          <img class="rounded-full" [src]="
                            'https://intslate.onrender.com/uploads/' +
                            connectionData.connection?.teacher?.image
                          " alt="" />
                        </div>
                        <div class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl">
                          <div *ngIf="
                            item.from === connectionData.connection?.teacher?._id
                          ">
                            {{ item.content }}
                          </div>
                          <div class="absolute text-[9px] bottom-0 left-0 -mb-5 mr-2 text-gray-500">
                            <p>{{ item.date | date : "shortTime" }}</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-start-6 col-end-13 p-3 rounded-lg" *ngIf="
                      item.from === connectionData.connection?.student?._id &&
                      item.to === connectionData.connection?.teacher?._id
                    ">
                      <div class="flex items-center justify-start flex-row-reverse">
                        <div class="flex items-center justify-center h-10 w-10 rounded-full mb-5 flex-shrink-0">
                          <img class="rounded-full" [src]="
                            'https://intslate.onrender.com/studentImage/' +
                            connectionData.connection?.student?.image
                          " alt="" />
                        </div>
                        <div class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl">
                          <div *ngIf="
                            item.from ===
                              connectionData.connection?.student?._id &&
                            item.to === connectionData.connection?.teacher?._id
                          ">
                            {{ item.content }}
                          </div>
                          <div class="absolute text-[9px] bottom-0 right-0 mr-2 -mb-5 text-gray-500">
                            {{ item.date | date : "shortTime" }}
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                </ng-container>
              </div>

              <ng-template #noMessage>
                <div class="flex flex-col h-full justify-center items-center">
                  <!-- Your existing content -->

                  <div class="mt-auto">
                    <span class="bg-slate-400 px-2 py-1 text-white font-medium rounded-xl">no messages</span>
                  </div>
                </div>
              </ng-template>

            </div>
          </ng-container>
          <ng-template #noConnection>
            <div class="flex flex-col justify-center items-center h-full">
              <img src="assets\no-selection.b1f4eb7.svg" alt="" />
              <p class="text-2xl font-bold mt-5 text-black mb-2">
                Pick up where you left off
              </p>
              <p class="text-sm font-medium">
                Select a conversation or chat away
              </p>
            </div>
          </ng-template>
        </div>
        <form [formGroup]="formData" (ngSubmit)="onSubmit()" *ngIf="connectionData">
          <div class="flex flex-col space-y-2">
            <!-- Add a div for question suggestions -->
            <div class="p-2 bg-gray-200 rounded-xl">
              <p class="text-sm text-gray-600 mb-2">Question Suggestions:</p>
              <ul class="flex space-x-2 list-none pl-0">
                <li class="text-sm rounded-lg cursor-pointer p-2 bg-slate-50"
                  (click)="addSuggestionToMessage('How is my child\'s progress?')">How is my child's progress?</li>
                <li class="text-sm rounded-lg cursor-pointer p-2 bg-slate-50"
                  (click)="addSuggestionToMessage('Are there any areas my child needs improvement in?')">Are there any
                  areas my child needs improvement in?</li>
                <li class="text-sm rounded-lg cursor-pointer p-2 bg-slate-50"
                  (click)="addSuggestionToMessage('How can I support my child\'s learning at home?')">How can I support
                  my child's learning at home?</li>
              </ul>
            </div>
          </div>
          <div class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4">
           
            <div class="flex-grow ml-4">
              <div class="relative w-full">
                <input  appNoLeadingSpace  type="text"
                  class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
                  formControlName="message" />
              </div>
            </div>
            <div class="ml-4">
              <button data-tooltip-target="tooltip-default" type="submit"
                class="flex items-center justify-center bg-indigo-500 hover:bg-indigo-600 rounded-full text-white px-2 py-2">
                <span class="ml-2">
                  <svg class="w-4 h-4 transform rotate-45 -mt-px" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                  </svg>
                </span>
              </button>
              <div id="tooltip-default" role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Send
                <div class="tooltip-arrow" data-popper-arrow></div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>