<app-nav-bar></app-nav-bar>
<app-profile-div></app-profile-div>

<div class="w-full mt-10 border-t pt-10 h-auto mb-16">
  <p class="text-center font-semibold text-xl">Attendance</p>
  <div class="w-11/12 rounded-2xl bg-slate-100 h-auto mx-auto mt-8 p-7">
    <div class="flex justify-end ">
      <button (click)="leaveApplication()" class="p-2 bg-purple-400 text-white font-medium rounded-lg">
        Leave Application
      </button>
    </div>
    <!-- Add some space between the calendar div and the button div -->
    <div class="mt-10">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>
</div>

<app-footer></app-footer>

