<app-nav-bar></app-nav-bar>
<app-profile-div></app-profile-div>


<div class="w-full mt-10 border-t pt-10 h-auto ">
    <p class="text-center font-semibold text-xl">Fee's Enquiry</p>
    <div class="w-11/12 xs:w-full flex gap-6 rounded-2xl bg-slate-100  h-auto mx-auto mt-8 p-7 ">


        <div class="w-6/12  h-auto bg-gray-50 rounded-2xl p-5">
            <p class="text-center font-semibold mb-4">Fee Summary</p>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 ">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50  dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Fee term
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Amount
                            </th>

                            <th scope="col" class="px-6 py-3">
                                Status
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b  dark:border-gray-700 hover:bg-gray-50 ">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                Term 1
                            </th>
                            <td class="px-6 py-4">
                                ₹ {{feeData.term1.amount}}
                            </td>
                            <td class="px-6 py-4">
                                {{paidFees.term1.status}}
                            </td>
                        </tr>
                        <tr class="bg-white border-b  dark:border-gray-700 hover:bg-gray-50 ">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                Term 2
                            </th>
                            <td class="px-6 py-4">
                                ₹ {{feeData.term2.amount}}
                            </td>
                            <td class="px-6 py-4">
                                {{paidFees.term2.status}}
                            </td>
                        </tr>
                        <tr class="bg-white border-b  ">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                Term 2
                            </th>
                            <td class="px-6 py-4">
                                ₹ {{feeData.term3.amount}}
                            </td>
                            <td class="px-6 py-4">
                                {{paidFees.term3.status}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="w-6/12  h-auto bg-gray-50 rounded-2xl p-5">
            <p class="text-center font-semibold mb-4">Payment Gatway</p>
            <div class="relative overflow-x-auto rounded-lg border p-4 bg-gray-100">
                <p class="text-left font-semibold mb-3 flex justify-between">Total : <span>₹ {{totalAmount}}</span></p>
                <hr>
                <p class="text-left font-semibold flex mt-4 mb-3 justify-between">Balance : <span *ngIf="balanceAmount > 0">₹{{balanceAmount}}</span><span *ngIf="balanceAmount <= 0">All Paid</span></p>
                <hr>
                <div *ngIf="unpaidTerms">
                  <p class="text-left font-semibold mt-4 flex justify-between">Unpaid Term :<span *ngIf="balanceAmount > 0">{{unpaidTerms.term}}</span> <span *ngIf="balanceAmount > 0"> ₹{{unpaidTerms.amount}}</span><span *ngIf="balanceAmount <= 0">All Paid</span></p>
                </div>
              </div>
              
              

            <div *ngIf="balanceAmount>0" class="w-full pt-20 flex ">
                <p class="text-xs font-mono mt-4"> - Debit Cart and Credit card are
                    Allowed</p>
                <div class="flex justify-end ml-auto">
                    <button (click)="payNow()" class="w-28 rounded text-white font-semibold h-8 bg-blue-500">Pay
                        Now</button>
                </div>
            </div>

            <div *ngIf="balanceAmount <= 0" class="w-full pt-16 flex justify-between ">
                <p class="text-xl text-left text-green-600 font-semibold font-mono mt-4">All Paid</p>
                <div class="items-center">
                  <img class="w-16 h-16" src="assets\pngegg (3).png" alt="">
                </div>
              </div>
              


        </div>
    </div>
</div>