<div class="w-11/12 mx-auto flex flex-col md:flex-row rounded-3xl bg-slate-300 h-auto mt-6 p-6 md:p-9 md:justify-between ">
  <div class="text-white w-full md:w-1/2">
    <p class="font-bold text-2xl xs:text-xl md:mb-4">
      #{{ studentdata?.studentId }}
    </p>
    <p class="font-bold text-3xl xs:text-xl mb-2">{{ studentdata?.name }}</p>
    <p class="font-medium text-xl xs:text-sm mb-2">
      Class : {{ studentdata?.class?.className }} -
      {{ studentdata?.class?.division }}
    </p>
    <p class="font-medium text-xl xs:text-sm mb-2">
      Class Teacher : {{ studentdata?.class?.classTeacher?.name }}
    </p>
    <p class="font-medium text-xl xs:text-sm mb-2">
      Guardian : {{ studentdata?.Guardname }}
    </p>
    <p class="font-medium text-xl xs:text-sm mb-2">
      Email : {{ studentdata?.email }}
    </p>
    <p class="font-medium text-xl xs:text-sm mb-2">
      Phone : {{ studentdata?.phone }}
    </p>
  </div>
  <div class="w-full flex-col  md:w-4/12 flex justify-center items-center mt-4 md:mt-0">
    <div class="w-1/2 h-auto md:mr-4">
      <img class="rounded-full w-full" [src]="'https://intslate.onrender.com/studentImage/' + studentdata?.image" alt="" />
    </div>
    <div class="mt-3 md:mt-4">
      <button (click)="editStudentProfile()" class="px-3 py-1 bg-slate-500 text-white rounded-lg font-medium">
        Reset Password
      </button>
    </div>
  </div>
</div>
