<body class="font-mono h-auto pt-2 bg-gray-100">
    <!-- Container -->
    <div class="container mx-auto">
        <div class="flex justify-center px-2 my-10 ">
            <!-- Row -->
            <div class="w-full xl:w-3/4 lg:w-11/12 flex">
                <!-- Col -->
                <div class="w-full h-auto bg-gray-200 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg"
                    style="background-image: url('https://www.christnagarschool.edu.in/Images/about.png')"></div>
                <!-- Col -->
                <div class="w-full lg:w-7/12 bg-white p-3 rounded-lg lg:rounded-l-none">
                    <h3 class="pt-4 text-2xl text-center">Create an Account!</h3>
                    <form class="px-8 pt-6 pb-8 mb-2 bg-white rounded" [formGroup]="data" (ngSubmit)="onSubmit()">
                        <div class="mb-4 md:flex md:justify-between">
                            <div class="md:mr-2 md:mb-0">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="firstName">
                                    Student Id
                                </label>
                                <input [class.border-red-500]="f.studentId.invalid&&submit||idMatch"
                                    class="w-full px-3 py-2 mb-1 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                    id="firstName" type="text" placeholder="Student Id" formControlName='studentId' />
                                    <p class="text-xs text-red-500 italic">{{idMatch}}</p>
                                <div *ngIf="data.controls['studentId'].errors">
                                    <p class="text-xs italic text-red-500"
                                        *ngIf="submit&&data.controls.studentId.hasError('required')">Student Id is
                                        required..</p>
                                    <p class="text-xs italic text-red-500"
                                        *ngIf="data.controls.studentId.hasError('pattern')">The input should be a 5-digit number..</p>
                                </div>
                            </div>

                        </div>
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="name">
                                Name of Student
                            </label>
                            <input [class.border-red-500]="f.name.invalid&&submit"
                                class="w-full px-3 py-2 mb-1 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                id="name" type="name" placeholder="Name" formControlName="name" />
                            <div *ngIf="data.controls['name'].errors">
                                <p class="text-xs italic text-red-500"
                                    *ngIf="submit&&data.controls.name.hasError('required')">name is
                                    required..</p>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="email">
                                Email
                            </label>
                            <input [class.border-red-500]="f.email.invalid&&submit||emailMatch"
                                class="w-full px-3 py-2 mb-1 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                id="email" type="email" placeholder="Email" formControlName="email" />
                                <p class="text-xs text-red-500 italic">{{emailMatch}}</p>
                            <div *ngIf="data.controls['email'].errors">
                                <p class="text-xs italic text-red-500"
                                    *ngIf="submit&&data.controls.email.hasError('required')">email is
                                    required..</p>
                                <p class="text-xs italic text-red-500" *ngIf="data.controls.email.hasError('email')">
                                    enter a
                                    valid email..</p>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="email">
                                Phone
                            </label>
                            <input [class.border-red-500]="f.phone.invalid&&submit||phoneMatch"
                                class="w-full px-3 py-2 mb-1 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                id="phone" type="number" placeholder="Phone" formControlName="phone" />
                                <p class="text-xs text-red-500 italic">{{phoneMatch}}</p>
                            <div *ngIf="data.controls['phone'].errors">
                                <p class="text-xs italic text-red-500"
                                    *ngIf="submit&&data.controls.phone.hasError('required')">phone is
                                    required..</p>
                                <p class="text-xs italic text-red-500" *ngIf="data.controls.phone.hasError('pattern')">
                                    Enter a
                                    valid number..</p>
                            </div>
                        </div>

                        <div class="mb-2 md:flex">
                            <div class="mb-2 md:mr-2 md:mb-0 w-full sm:w-full">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
                                    Password
                                </label>
                                <input [class.border-red-500]="f.password.invalid&&submit"
                                    class="w-full px-3 py-2 mt-1 text-sm leading-tight text-gray-700 border border-red-500 rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                    id="password" type="password" placeholder="******************"
                                    formControlName="password" />
                                <div *ngIf="data.controls['password'].errors">
                                    <p class="text-xs italic text-red-500"
                                        *ngIf="submit&&data.controls.password.hasError('required')">password is
                                        required..</p>
                                    <p class="text-xs italic text-red-500"
                                        *ngIf="data.controls.password.hasError('pattern')">Please choose a stronger
                                        password. Try a mix of letters, numbers and symbols..</p>
                                </div>
                            </div>
                            <div class="md:ml-2 w-full sm:w-full">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="c_password">
                                    Confirm Password
                                </label>
                                <input [class.border-red-500]="f.Conpassword.invalid&&submit||confirmError&&submit"
                                    class="w-full px-3 py-2 mt-1 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                    id="c_password" type="password" placeholder="******************"
                                    formControlName="Conpassword" />
                                    <p class="text-xs text-red-500 italic">{{confirmError}}</p>
                                <div *ngIf="data.controls['Conpassword'].errors">
                                    <p class="text-xs italic text-red-500"
                                        *ngIf="submit&&data.controls.Conpassword.hasError('required')">Confirmation
                                        password is
                                        required..</p>
                                    <p class="text-xs italic text-red-500"
                                        *ngIf="data.controls.Conpassword.hasError('pattern')">Please choose a stronger
                                        password. Try a mix of letters, numbers and symbols..</p>
                                </div>
                            </div>
                        </div>
                        <hr class="mb-2  border-t" />
                        <div class="mb-3 inline-block text-xs text-gray-500 align-baseline">
                            Kindly,<br>
                            - use the Student Id you got from mail <br>
                            - use the Email and Phone given Student Admission
                        </div>
                        <hr class="mb-2  border-t" />
                        <p class="text-sm text-red-500 italic mb-2">{{alreadyReg}}</p>
                        <div class="mb-2 text-center">
                            <button
                                class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                                type="submit">
                                Register Account
                            </button>
                        </div>

                        <div class="text-center">
                            <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
                                [routerLink]="['/student/login']">
                                Already have an account? Login!
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>