<app-side-nav></app-side-nav>

<div class="p-4 sm:ml-64">
    <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src="https://ih1.redbubble.net/image.852443317.2770/mp,504x498,matte,f8f8f8,t-pad,600x600,f8f8f8.u3.jpg" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Shoes!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
</div>
