<!-- Container -->
<div class="container font-mono h-full pt-20 bg-gray-100">
    <div class="container mx-auto ">
        <div class="flex justify-center px-6 my-12">
            <!-- Row -->
            <div class="w-full xl:w-3/4 lg:w-11/12 flex">
                <!-- Col -->
                <div class="w-full h-auto' bg-white hidden lg:block lg:w-1/2 bg-cover rounded-l-lg pt-10">
                    <img class="h-fit w-fit"
                        src="https://img.freepik.com/free-vector/teacher-standing-near-blackboard-holding-stick-isolated-flat-vector-illustration-cartoon-woman-character-near-chalkboard-pointing-alphabet_74855-8600.jpg?w=1060&t=st=1688702823~exp=1688703423~hmac=438bd8584eb8215cb647f2d5457c91de726973cce2d5e4d22309aac43a7301b9"
                        alt="">
                </div>
                <!-- Col -->
                <div class="w-full lg:w-1/2 bg-white p-5 rounded-lg lg:rounded-l-none">
                    <h3 class="pt-4 text-2xl text-center">Teacher Login</h3>
                    <form class="px-8 pt-6 pb-8 mb-4 bg-white rounded" [formGroup]="data" (ngSubmit)="onSubmit()">
                        <div class="md:mr-2  md:mb-0">
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="firstName">
                                Teacher Id
                            </label>
                            <input  appNoLeadingSpace  [class.border-red-500]="f.teacherId.invalid&&submit||idMatch"
                                class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                id="firstName" type="text" placeholder="Teacher Id" formControlName='teacherId' />
                            <p class="text-xs text-red-500 italic">{{idMatch}}</p>
                            <div *ngIf="data.controls['teacherId'].errors">
                                <p class="text-xs italic text-red-500"
                                    *ngIf="submit&&data.controls.teacherId.hasError('required')">Teacher Id is
                                    required..</p>
                                <p class="text-xs italic text-red-500"
                                    *ngIf="data.controls.teacherId.hasError('pattern')">The input should be a 5-digit
                                    number..</p>
                            </div>
                        </div>
                        <div class="mt-4 mb-4">
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="username">
                                Email
                            </label>
                            <input  appNoLeadingSpace  [class.border-red-500]="f.email.invalid&&submit||emailMatch"
                                class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                id="username" type="email" formControlName="email" placeholder="Email" />
                            <p class="text-xs italic text-red-500">{{emailMatch}}</p>
                            <div *ngIf="data.controls['email'].errors">
                                <p class="text-xs italic text-red-500"
                                    *ngIf="submit&&data.controls.email.hasError('required')">email is
                                    required..</p>
                                <p class="text-xs italic text-red-500" *ngIf="data.controls.email.hasError('email')">
                                    enter a
                                    valid email..</p>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
                                Password
                            </label>
                            <input  appNoLeadingSpace  [class.border-red-500]="f.password.invalid&&submit||passError"
                                class="w-full px-3 py-2  text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                id="password" formControlName="password" type="password"
                                placeholder="******************" />
                            <p class="text-xs italic text-red-500">{{passError}}</p>
                            <div *ngIf="data.controls['password'].errors">
                                <p class="text-xs italic text-red-500"
                                    *ngIf="submit&&data.controls.password.hasError('required')">password is
                                    required..</p>
                                <p class="text-xs italic text-red-500"
                                    *ngIf="data.controls.password.hasError('pattern')">Please choose a stronger
                                    password. Try a mix of letters, numbers and symbols..</p>
                            </div>
                        </div>
                        <hr class="mb-2  border-t" />
                        <p class="text-sm italic text-red-500">{{alreadyReg}}</p>
                        <div class="mb-6 text-center">
                            <button
                                class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                                type="submit">
                                Sign In
                            </button>
                        </div>
                        <hr class="mb-6 border-t" />
                        <div class="text-center">
                            <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
                                [routerLink]="['/teacher/register']">
                                Register Your Account!
                            </a>
                        </div>

                    </form>
                    <div class="text-center text-sm mt-3 border border-black">
                        <p>Demo Teacher</p>
                        <p>TeacherId : 57783</p>
                        <p>Email : diyoufkv7@gmail.com</p>
                        <p>Pass : Diyouf@123</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>