<app-nav-bar></app-nav-bar>
<app-profile-div></app-profile-div>


<div class="border-t mt-12 pt-4">
  <p class="text-center font-semibold text-xl">Class Room</p>

  <div class="mx-auto w-10/12 h-auto mt-7">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-x-20 gap-y-5">
      <div
        class="relative mt-6 flex  sm:w-auto flex-col rounded-xl bg-green-200 bg-clip-border text-black shadow-md">
        <div class="p-6">
          <img src="" alt="">
          <h5
            class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            Fee Chart
          </h5>
          <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
            To know your student fee's related  enquiries
          </p>
        </div>
        <div class="p-6 pt-0 flex justify-end">
          <a [routerLink]="['/student/fees']"
            class="!font-medium !text-blue-gray-900 !transition-colors hover:!text-blue-500">
            <button
              class="flex select-none items-center gap-2 rounded-lg py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-black transition-all hover:bg-green-100 active:bg-pink-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button" data-ripple-dark="true">
              Click here
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" aria-hidden="true" class="h-4 w-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3">
                </path>
              </svg>
            </button>
          </a>
        </div>
      </div>

      <div
        class="relative mt-6 flex  sm:w-auto flex-col rounded-xl bg-orange-200 bg-clip-border text-black shadow-md">
        <div class="p-6">
          <img src="" alt="">
          <h5
            class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            Home Works

          </h5>
          <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
            To Know the homeworks and the assignments
          </p>
        </div>
        <div class="p-6 pt-0 flex justify-end">
          <a [routerLink]="['/student/homeworks']"
            class="!font-medium !text-blue-gray-900 !transition-colors hover:!text-blue-500">
            <button
              class="flex select-none items-center gap-2 rounded-lg py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-black transition-all hover:bg-orange-100 active:bg-pink-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button" data-ripple-dark="true">
              Click here
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" aria-hidden="true" class="h-4 w-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3">
                </path>
              </svg>
            </button>
          </a>
        </div>
      </div>
      <div
        class="relative mt-6 flex  sm:w-auto flex-col rounded-xl bg-purple-200 bg-clip-border text-black shadow-md">
        <div class="p-6">
          <img src="" alt="">
          <h5
            class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            Attendance

          </h5>
          <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
            To know about your attandance
          </p>
        </div>
        <div class="p-6 pt-0 flex justify-end">
          <a [routerLink]="['/student/attendance']"
            class="!font-medium !text-blue-gray-900 !transition-colors hover:!text-blue-500">
            <button
              class="flex select-none items-center gap-2 rounded-lg py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-black transition-all hover:bg-orange-100 active:bg-pink-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button" data-ripple-dark="true">
              Click here
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" aria-hidden="true" class="h-4 w-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3">
                </path>
              </svg>
            </button>
          </a>
        </div>
      </div>
      <div
        class="relative mt-6 flex  sm:w-auto flex-col rounded-xl bg-yellow-300 bg-clip-border text-black shadow-md">
        <div class="p-6">
          <img src="" alt="">
          <h5
            class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            Chat

          </h5>
          <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
            To chat with your Teachers
          </p>
        </div>
        <div class="p-6 pt-0 flex justify-end">
          <a [routerLink]="['/student/chat']"
            class="!font-medium !text-blue-gray-900 !transition-colors hover:!text-blue-500">
            <button
              class="flex select-none items-center gap-2 rounded-lg py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-black transition-all hover:bg-orange-100 active:bg-pink-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button" data-ripple-dark="true">
              Click here
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" aria-hidden="true" class="h-4 w-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3">
                </path>
              </svg>
            </button>
          </a>
        </div>
      </div>

    </div>
  </div>

</div>