<app-nav-bar></app-nav-bar>
<div class="w-full mt-16 h-72 bg-slate-300 flex items-center justify-center">
  <h2 class="text-white font-semibold text-3xl">Events</h2>
</div>

<p class="text-center  text-xl mt-8 ">
  <span class="border-b-2 border-orange-400 font-medium text-blue-600">Latest Events</span>
</p>

<div class="w-full py-6 flex items-center justify-center mt-8 mb-16">
  <div class="grid lg:grid-cols-3 gap-x-16" *ngIf="fetchData$ | async as event">
    <div *ngFor="let item of event">
      <div class="bg-white w-80 h-fit shadow-md rounded m-3">
        <div class="h-3/4 w-full">
          <img
            class="w-full h-52 object-cover rounded-t"
            [src]="'http://localhost:3000/events/' + item.image"
            alt="piña"
          />
        </div>
        <div class="w-full h-1/4 p-3">
          <a class="hover:text-yellow-600 text-gray-700">
            <span class="text-lg font-semibold uppercase "
              >{{ item.title }}</span
            >
          </a>
          <p class="md:text-xs text-gray-500 font-medium mt-1">
            Date : {{ formatDueDate(item.ConductingDate) }} , {{ item.avenue }}
          </p>
          <p class="text-gray-600 font-medium text-sm  mt-3 line-clamp-3">
            {{ item.description }}
          </p>
        
          <p class="text-gray-600 text-xs font-semibold mt-4 ">
            by Administration
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
