<app-nav-bar></app-nav-bar>
<app-side-nav></app-side-nav>
<div class="p-4 mt-24 sm:ml-64">
  <div class="flex justify-end gap-3">
    <button
      (click)="addHomework()"
      class="text-white bg-blue-500 h-11 px-3 font-medium rounded-lg"
    >
      Add Home Work
    </button>
    <input
      type="text"
      name=""
      id=""
      placeholder="Search.."
      class="rounded-lg px-5 py-2.5 mr-2 mb-2 bg-gray-100"
    />
  </div>
  <ng-container *ngIf="homeWorkdata.length > 0; else noDataMessage">
  <div
    class="relative flex flex-col min-w-0 break-words p-6 w-full mx-auto mb-6 shadow-lg rounded"
  >
    <ol
      class="relative border-l border-gray-200"
      *ngFor="let item of homeWorkdata"
    >
      <li class="mb-10 ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white"
        >
          <svg
            class="w-2.5 h-2.5 text-blue-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
            />
          </svg>
        </span>
        <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900">
          {{ item.class.className }} - {{ item.class.division }}
        </h3>
        <time
          class="block mb-2 text-sm font-normal leading-none text-gray-400"
          >{{ formatDueDate(item.date) }}</time
        >
        <div
          class="p-6 bg-blue-50 w-full border border-gray-200 rounded-lg shadow"
        >
          <a>
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900">
              {{ item.homework }}
            </h5>
          </a>
          <div class="flex justify-end">
            <p class="text-gray-600 font-semibold text-sm">Dead Line : </p>
            <p class="ml-2 text-red-400 text-sm font-semibold">
              {{ formatDueDate(item.dueDate) }}
            </p>
          </div>
        </div>
      </li>
    </ol>
  </div>
  </ng-container>
  <ng-template #noDataMessage>
    <p class="sm:mt-7 text-center font-semibold text-lg">No homeworks.</p>
  </ng-template>
</div>
