<main *ngIf="fetchData$ | async as studentDetails">
  <div
    class="grid grid-cols-4 px-4 pt-2 xl:grid-cols-1 xl:gap-6"
    *ngFor="let studentDetails of studentDetails"
  >
    <div class="col-span-full xl:col-auto">
      <div class="bg-white shadow-lg shadow-gray-200 rounded-2xl p-4 mb-6  justify-between flex">
    
       <div>
        <div class="flex space-x-4">
            <!-- Use 'flex' and 'space-x' for horizontal spacing -->
            <img
              class="w-20 h-20 rounded-2xl shadow-lg shadow-gray-300"
              [src]="'http://localhost:3000/studentImage/' + studentDetails.image"
              alt="Student portrait"
            />
            <div>
              <h2 class="text-lg font-bold">{{ studentDetails.name }}</h2>
              <ul>
                <li class="text-sm font-normal text-gray-500">
                  Student ID: #{{ studentDetails.studentId }}
                </li>
              </ul>
            </div>
          </div>
          
          <div class="mt-4">
            <address class="text-sm not-italic font-normal text-gray-500">
              <p class="text-sm font-medium text-gray-900">
                {{ studentDetails.email }}
              </p>
              <p class="text-sm">
                DOB:
                <span class="font-medium text-gray-900">{{
                  studentDetails.DOB | date
                }}</span>
              </p>
              <p class="text-sm">
                Gender:
                <span class="font-medium text-gray-900">{{
                  studentDetails.gender
                }}</span>
              </p>
              <p class="text-sm">
                Phone No.:
                <span class="font-medium text-gray-900">{{
                  studentDetails.phone
                }}</span>
              </p>
  
              <div class="mt-4 font-medium text-gray-800">Home Address:</div>
              <div class="text-sm font-medium text-gray-900 max-w-[20ch] flex">
                {{ studentDetails.address }}, {{ studentDetails.city }},
                {{ studentDetails.state }}, {{ studentDetails.zip }}
              </div>
            </address>
          </div>
          
       </div>
       <div class="flex flex-col">
        <p class="text-sm">
            Class:
            <span class="font-medium text-gray-900">{{
              studentDetails.class.className
            }} - {{studentDetails.class.division}}</span>
        </p>
          <p class="text-sm">
            Class Teacher:
            <span class="font-medium text-gray-900">{{
              studentDetails.class.classTeacher.name
            }}</span>
          </p>
      </div>
      </div>
    </div>

    <div class="col-span-2">
      <div class="bg-white shadow-lg shadow-gray-200 rounded-2xl p-4 mb-6">
        <div class="mt-4 font-medium text-gray-800">Guardian Details</div>
        <div class="text-sm text-gray-900">
          Name:
          <span class="font-medium">{{ studentDetails.Guardname }}</span
          ><br />
          Relation:
          <span class="font-medium">{{ studentDetails.relation }}</span
          ><br />
        </div>
      </div>
    </div>
  </div>
</main>
