

<!-- Navbar -->
<nav
  class="absolute z-50 top-0 left-0 w-full bg-transparent md:flex-row md:flex-nowrap md:justify-start flex items-center p-4 shadow-md"
>
  <div
    class="w-full mx-auto items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4"
  >
    <!-- Brand -->
    <a [routerLink]="['/teacher/dashboard']" class="text-black text-sm uppercase hidden lg:inline-block font-bold "
      ><img src="assets\logo-no-background.svg" class="h-8 mr-3"  /></a
    >

    <!-- Form -->

    <!-- User -->
    <ul class="flex-col md:flex-row list-none items-center hidden md:flex">
      <!-- Logout Button -->
      <li class="mr-3">
       <a  [routerLink]="['/teacher/profile']" class="text-black text-sm font-semibold cursor-pointer">Profile</a>

      <li >
        <button (click)="teacherLogout()"
          class="bg-blue-500 text-white text-sm uppercase font-semibold px-4 py-2 rounded-lg"
        >
          Logout
        </button>
      </li>
    </ul>
  </div>
</nav>
